.home-container-down {
  border: 1px black solid;
  width: 100%;
}

.home-container {
  background-image: url("/src/images/background.jpg");
  min-height: 100vh;
  background-repeat: round;
}
.container .row .HLink {
  margin: 45px;
}
.gallery-row {
  width: 70%;
}
.sideBar-row {
  float: right;
}
.sideBar-row .sideBar {
  border: blue 1px solid;
  height: 34em;
  width: 10em;
  margin-right: 250px;
}
.box1,
.box2,
.box3 {
  border: 1px red solid;
  width: 20em;
  height: 10em;
}
.featurette-image {
  position: relative;
  left: auto;
}
.pricing-header {
  max-width: 700px;
}
hr:not([size]) {
  height: 1px;
}

.featurette-divider {
  margin: 5rem 0;
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}
.headline-h1 {
  -webkit-box-reflect: below -5px linear-gradient(transparent, #ff0000);
}
.headline-h1 span:nth-child(1) {
  animation-delay: 0.4s;
}
.headline-span {
  animation: animate 5s linear infinite;
}
.MTT {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: red;
}
@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #122432;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000,
      0 0 80px #ff0000, 0 0 160px #ff0000, 0 0 400px #ff0000;
  }
}
@media only screen and (max-width: 1024px) {
  .levelUpLogo {
    display: none;
  }
  .sideBar-row .sideBar {
    display: none;
  }
  .gallery-row {
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .sideBar-row .sideBar {
    position: absolute;
    width: 12vw;
    height: 77%;
    left: 80%;
    top: 126%;
  }
  .gallery-row {
    width: 70%;
  }
}
@media only screen and (min-width: 1201px) {
  .sideBar-row .sideBar {
    position: absolute;
    width: 12vw;
    height: 58%;
    top: 105%;
    left: 80%;
  }
}
