.signin-container {
  background-image: url("https://wallpaperaccess.com/full/318915.jpg");
  background-size: cover;
  box-shadow: inset 0px 10px 10px 1px,
    inset 10px 2px 2px 1px rgba(255, 36, 36, 0.514),
    inset -10px -10px 10px 1px rgba(255, 36, 36, 0.514),
    inset -10px 10px 10px 1px rgba(255, 36, 36, 0.514);
  min-height: 88vh;
}
